<div fxLayout="col" class="full-width">

  <div fxLayout="row" fxLayoutGap="30px" class="full-width">

    <div fxFlex="30%">
      <mat-form-field class="search-form full-width">
        <input matInput placeholder="Membro Avaliador: " type="text">
      </mat-form-field>
    </div>

    <div fxFlex="20%">
      <mat-form-field class="search-form full-width">
        <input matInput placeholder="Departamento: " type="text">
      </mat-form-field>
    </div>

    <div fxFlex="30%">
      <mat-form-field class="search-form full-width">
        <input matInput placeholder="Professor Avaliado: " type="text">
      </mat-form-field>
    </div>

  </div>
</div>

<div fxLayout="col" class="full-width">
  <div fxLayout="row" class="full-width" fxLayoutGap="30px">

    <div fxFlex="20%">
      <mat-form-field class="search-form full-width">
        <input matInput placeholder="Data: " type="text">
      </mat-form-field>
    </div>

    <div fxFlex="20%">
      <mat-form-field class="search-form full-width">
        <input matInput  placeholder="Total de Avalidadores" type="text">
      </mat-form-field>
    </div>

    <div fxFlex="30%">
      <mat-form-field class="search-form full-width">
        <input matInput placeholder="Avaliador Responsável: " type="text">
      </mat-form-field>
    </div>

<!--    <div style="display:flex; align-content: center" fxLayoutGap="10px">-->
<!--      <button mat-raised-button-->
<!--              style="background-color: rgba(0,163,0,0.71); color: white; height: 50%; width: 40%">Salvar</button>-->
<!--      <button mat-raised-button color="warn" style="height: 50%; width: 70%">Limpar/Cancelar</button>-->
<!--    </div>-->

  </div>

</div>

<div style="display:flex" fxLayoutGap="10px">
  <button mat-raised-button style="background-color: rgba(0,163,0,0.71); color: white;">Salvar</button>
  <button mat-raised-button color="warn">Limpar/Cancelar</button>
</div>
