<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>Avaliação de Desempenho</span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 40px" class="body">

  <mat-tab-group>

    <mat-tab label="Avaliação">

      <div style="padding: 20px">

        <app-cabecalho-avaliacao></app-cabecalho-avaliacao>

        <br/>

        <app-tabela-avaliacao></app-tabela-avaliacao>

      </div>

    </mat-tab>

<!--    <mat-tab label="Cadastro de Professores">-->

<!--      <div style="padding: 20px" fxLayoutGap="5%">-->

<!--        <mat-form-field class="search-form">-->
<!--          <input matInput placeholder="Nome: " type="text">-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="search-form">-->
<!--          <input matInput placeholder="Disciplina: " type="text">-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="search-form">-->
<!--          <input matInput placeholder="Curso: " type="text">-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="search-form">-->
<!--          <input matInput placeholder="Formação: " type="text">-->
<!--        </mat-form-field>-->

<!--        <div style="display:flex" fxLayoutGap="10px">-->
<!--          <button mat-raised-button style="background-color: rgba(0,163,0,0.71); color: white;">Salvar</button>-->
<!--          <button mat-raised-button color="warn">Limpar/Cancelar</button>-->
<!--        </div>-->

<!--      </div>-->

<!--    </mat-tab>-->

    <mat-tab label="Cadastro de Competências">

    <app-cadastro-competencia></app-cadastro-competencia>

    </mat-tab>

  </mat-tab-group>

</div>



