/* You can add global styles to this file, and also import other style files */
/*@import '~angular/material/prebuilt-themes/indigo-pink.css';*/

body {
  margin: 0;
  background-color: #dddddd;
}
.full-width {
  width: 100% !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*a:hover {*/
/*  text-decoration: underline;*/
/*  color: #FF0000;*/
/*}*/

a:active {
  text-decoration: none;
}
