<div style="padding: 40px" class="body">

  <div fxLayout="col" class="full-width">
    <div fxLayout="row" class="full-width" fxLayoutGap="30px">

      <mat-form-field fxFlex="20%" class="search-form full-width">
        <input matInput placeholder="Tipo: " type="text">
      </mat-form-field>

      <mat-form-field fxFlex="20%" class="search-form full-width">
        <input matInput placeholder="Nome: " type="text">
      </mat-form-field>

      <mat-form-field fxFlex="40%"class="search-form full-width">
        <input matInput placeholder="Descrição: " type="text">
      </mat-form-field>

      <mat-form-field fxFlex="20%" class="search-form full-width">
        <input matInput placeholder="Peso: " type="text">
      </mat-form-field>

    </div>
  </div>

  <div style="display:flex" fxLayoutGap="10px">
    <button mat-raised-button style="background-color: rgba(0,163,0,0.71); color: white;">Salvar</button>
    <button mat-raised-button color="warn">Limpar/Cancelar</button>
  </div>

</div>
